.ListLinks {
    text-align: center;
}

.ListLinks-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: white;
}
  
.TripleTable {
    font-size: small;
    margin-right: auto;  /* push the table to the left */
    float: 'left';
    width: '50%';
}

.filename {
    background-color: white;
    color: #61b3fb;
}

.link_icon {
    height: 20vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .link_icon {
      animation: link_icon-spin infinite 20s linear;
    }
  }
