.ListLinks {
    text-align: center;
}

.header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: white;
}

/* .header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    color: white;
} */
  
.TripleTable {
    font-size: small;
    margin-right: auto;  /* push the table to the left */
    float: 'left';
    width: '50%';
}
